{
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "script"
    },
    "env": {
      "es6": true,
      "browser": true
    },
    "globals": {
        "chrome": true
    },
    "extends": "../.eslintrc",
    "rules": {
        "strict": ["error", "function"]
    }
}